.bottom-fade {
    background: linear-gradient(to bottom,#e6eef1, rgba(255, 255, 255, 0)); /* Adjust colors and transparency */
    padding-bottom: 50px; /* Add padding to see the fade effect */
    margin-bottom: -20px;
  }